@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
	--blue: #4c6bec;
	--blue-2: #94a8ff;
	--grey-1: #676767;
	--grey-2: #848484;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	max-width: 1400px;
	margin: 0 auto;
	min-height: 100vh;
}

.welcome-text {
	font-weight: 500;
	color: var(--grey-1);
	font-size: 27px;
}

.welcome-summary {
	font-weight: 600;
	font-size: 30px;
	color: var(--grey-2);
	max-width: 600px;
}

input {
	border: none;
	background-color: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.input span img {
	color: var(--blue-2);
	float: right;
}

form {
	max-width: 450px;
	margin-top: 50px;
}

label {
	color: var(--grey-2);
	font-size: 18px;
}

.input {
	border: none;
	padding: 10px 0;
	border-bottom: 3px solid var(--blue-2);
	display: flex;
}

input {
	width: 100%;
	font-size: 18px;
}

input::placeholder {
	font-size: 16px;
}

.hero-wrapper {
	position: relative;
}

.hero-img img {
	/* position: absolute; */
	width: 660px;
	margin-top: -50px;
	margin-left: -100px;
}

.after-login-input {
	margin: 20px 0px 40px 0px;
}

.roboto {
	font-family: 'Roboto', sans-serif !important;
}

.forgot-pass a {
	text-decoration: none;
	color: var(--grey-2);
	font-weight: 500;
}

.btn-login {
	box-shadow: 3px 6px 19px rgba(140, 162, 255, 0.63);
	border-radius: 33.5px 0px 33.5px 33.5px;
	background-color: var(--blue);
	width: 100%;
	padding: 20px;
	color: #ffff;
	font-size: 18px;
	font-weight: 700;
}

.divider {
	background-color: var(--grey-2);
	width: 80px;
	height: 1px;
}

.alternative-login {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.alternative-text {
	color: var(--grey-2);
	font-weight: 600;
	font-size: 18px;
}

.alternative-login-icon {
	width: 90px;
}

.alternative-login-icon img {
	cursor: pointer !important;
}

.footer-wrapper {
	position: relative !important;
}

.footer {
	position: absolute !important;
	width: 100%;
	margin-top: 80px;
}

.info-footer {
	font-weight: 400;
	color: var(--grey-2);
	font-size: 18px;
	padding: 20px 0;
	margin-right: -100px;
}

.wave {
	max-height: 20px;
}

.wave img {
	position: relative;
	max-width: 50%;
	height: 350px;
	margin-top: -140px;
	overflow-y: hidden;
	z-index: -1;
}
